<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> leaves</title>
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<section><h1>{{ result }}</h1>
<div class="set">
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
</div>
<div class="set set2">
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
</div>
<div class="set set3">
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
    <div> <img alt="" src={% static "leaves1.png" %}></div>
    <div> <img alt="" src={% static "leaves2.png" %}></div>
    <div> <img alt="" src={% static "leaves3.png" %}></div>
    <div> <img alt="" src={% static "leaves4.png" %}></div>
</div>
    </section>
</body>
</html>